<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/header.ejs') %>
    <main>
      <a href="/new"><p class="page-link">Add new message</p></a>
      <div class="msg-wrapper">
        <% if (messages.length > 0) { %> <% messages.forEach(msg => { %>
        <div class="msg">
          <h2 class="user"><%=msg.user %></h2>
          <p class="text"><%=msg.text %></p>
          <p class="date"><%=msg.added %></p>
        </div>
        <% }) %> <% } else { %>
        <p class="no-msg">There are no messages to display</p>
        <% } %>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
